/* li:matches(:nth-child(even), .target) {
  background-color: red;
} */

/* li:not(.target) {
  background-color: blue;
} */

:root {
  --commonColor: #f1c40f;
  --commonBorder: 1px solid red;
}

li:first-child a {
  background-color: var(--commonColor);
  border: var(--commonBorder);
}
